---
interface Props {
  navigation: {
    title: string;
    slug: string;
    children?: {
      title: string;
      slug: string;
    }[];
  }[];
}

const { navigation } = Astro.props;
---

<nav class="px-8 hidden md:block">
  <ul>
    <li>
      <a class="text-base font-bold" href="/">Home</a>
    </li>
    {
      navigation.map((item) => (
        <Fragment>
          <li>
            <a class="text-base font-bold" href={item.slug}>
              {item.title}
            </a>
            {item.children && item.children.length > 0 && (
              <ul class="ml-3">
                {item.children.map((child) => (
                  <li>
                    <a href={child.slug}>{child.title}</a>
                  </li>
                ))}
              </ul>
            )}
          </li>
        </Fragment>
      ))
    }
  </ul>
</nav>
