---
const props = Astro.props;

interface Props {
  title?: string;
  class?: string;
}
---

<div
  {...props}
  class="card p-5 { `card-${props.cols}` || 'default' } { props.class || '' }"
>
  {props.title && <p class="card-title mb-4">{props.title}</p>}
  <div>
    <slot />
  </div>
</div>
