---
// Define the interface for Props to ensure type safety
interface Props {
  title?: string;
  class?: string;
  type?: string;
}

const props = Astro.props as Props;
const tooltipClass = `tooltip ${props.type ? `tooltip-${props.type}` : "tooltip-default"} ${props.class || ""}`.trim();
---

<div class={tooltipClass}>
  {props.title && <p class="tooltip-title">{props.title}</p>}
  <div>
    <slot />
  </div>
</div>
